anyio==3.5.0
asgiref==3.4.1
bcrypt==3.2.2
cffi==1.15.0
click==8.0.3
colorama==0.4.4
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.2.1
fastapi==0.72.0
h11==0.13.0
idna==3.3
motor==2.5.1
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
pymongo==3.12.3
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
rsa==4.8
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.0.1
uvicorn==0.17.0
